/* 20 March start code  */  

@import url('https://fonts.googleapis.com/css?family=Raleway');                                                

body {
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6,span,i,p,label,div,a,b,strong,button {
    font-family: 'Raleway', sans-serif;
}

#basiccontactform {

}

#basiccontactform .form-control, #applicationform .form-control { 
    box-shadow: inset 0px 0px 17px -2px #ccc; 
    height: 40px;
    font-size: 15px;   
}

#basiccontactform button.btn-theme, #applicationform button.btn-theme, #myModal button.btn-theme {  
    padding: 10px 16px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
} 

h3#selectedcousreheading {
    margin-bottom: 30px;
}

#basiccontactform label {
    font-size: 16px;              
}

#basiccontactform label.error {
    color: red;
    font-size: 15px;
    font-weight: normal;   
}

#applicationform .panel-group .panel+.panel {
    margin-bottom: 30px;
}

#applicationform .select2-selection__rendered {
    display: none;
}

/* colleges-tabing start css code */

.college-degree .bodyContent .cont-box h2 {
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.colleges-tab {

}

.colleges-tab .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.colleges-tab .card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.colleges-tab .card.hovercard .card-background {
    height: 130px;
}
.colleges-tab .card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.colleges-tab .card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.colleges-tab .card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.colleges-tab .card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.colleges-tab .card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.colleges-tab .card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.colleges-tab .card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.colleges-tab .btn-pref .btn {
    -webkit-border-radius: 0 !important;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 14px 0px;
}

.colleges-tab .well {
    background-color: #f1f2f7;
}

.colleges-tab .tab-content {
    border: none;
}

.colleges-tab .overviews {

}

.colleges-tab .bodyContent {
    background: #fff;
    padding: 10px 40px 0;
    border: solid 1px #ccc;
    box-shadow: 1px 4px 16px 4px #ccc;
    overflow: hidden;
}

.colleges-tab .dtc-aside-right.space-bottom {
    background: #fff;
    padding: 10px 40px 0;
    border: solid 1px #ccc;
    box-shadow: 1px 4px 16px 4px #ccc;
    min-height: 300px;
}

.bodyContent .cont-box h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    border-bottom: solid 1px #ccc;
    padding-bottom: 12px;
    margin-bottom: 25px;
}

.dto-video-box.nopadding a>img {
    width: 100%;
}

.dto-desc>#a3>p {
    font-size: 14px;
    color: #666;
    font-weight: 600;
}

.space-bottom .dtc-aside-title {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 14px;
}

ul.dtc-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

ul.dtc-list li {

}

ul.dtc-list li a {
    color: #111;
    font-size: 16px;
}

.home-page section {
    background: none;
}

.colleges-tab #courses .bodyContent {
    background: transparent;
    padding: 10px 40px 0;
    border: none;
    box-shadow: none;
    overflow: visible;
    border-radius: 0;
}

.colleges-tab #courses .leftCourses {
    background-color: #fff;
    border: solid 1px #ccc;
    box-shadow: 1px 4px 16px 4px #ccc;
}

.colleges-tab #courses .coursesBlock._mPS2id-t {
    background-color: #fff;
    padding: 20px 40px 0;
    border: solid 1px #ccc;
    box-shadow: 1px 4px 16px 4px #ccc;
}

.leftCourses h4 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 21px;
}

ul.courseList {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul.courseList li {
    padding: 10px 4px 7px;
    background: #ef9187;
    margin-bottom: 7px;
    color: #fff;
    cursor: pointer;
}

ul.courseList li:hover {
    padding: 10px 4px 7px;
    background: #FF5722;
    margin-bottom: 7px;
    color: #fff;
    cursor: pointer;
}

ul.courseList li a {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    cursor: pointer;
}

.leftCourses .courses {
    padding: 10px 0 60px;    
}

.block.collegeCoursesBox h2 { 
    padding-bottom: 30px;
    font-weight: 600;
}

.readmore.gs_readmore table tr td {
    font-size: 14px;
    border-top: 1px solid #ccc;
}

.readmore.gs_readmore table tr th {
    font-size: 14px;
    border-top: solid 1px #ccc;
}




/* college listing design css start code */
 
.colleges-listing p.col-lists {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
    margin-bottom: 65px;
    padding-bottom: 14px;    
}

.colleges-listing .googles-map {
    margin-bottom: 50px;
    overflow: hidden;
}


.home-page .colleges-listing section {
    background: #f9f9f9;
}

.colleges-listing .panel-default {
    border-color: snow;
    box-shadow: none;
}

.colleges-listing .comment-user {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 6px
}

.colleges-listing .comment-post {

}

.colleges-listing .comment-post p {
    font-size: 14px;
    font-weight: 100;
    padding-bottom: 5px;    
}

.colleges-listing figure { 

}

/*.colleges-listing figure img {  
    border: solid 1px #6091ba;
    border-radius: 10px;
}*/

.colleges-listing .panel-body {
    padding: 0 0 0;
}

.colleges-listing article {
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
}

.colleges-listing .panel {
    margin-bottom: 10px;
}


/* college listing design css end code */



/* e-Counselling Form start css code */


.ecounciling-form {
    padding: 0 0 100px;
}

.ecounciling-form h1 {
    font-size: 28px;
    font-weight: 600;    
}

.ecounciling-form hr {
    border: solid 1px #6091ba;
    margin-top: 0;
    margin-bottom: 40px;
    width: 25%;
}

.form-ecounce .form-group {

}

.form-ecounce label {
    font-size: 15px;
    margin-top: 10px;
    font-weight: 600;
    color: #000;    
}

.form-ecounce .form-control {
    border: solid 1px #AAB;
    box-shadow: inset 0px 0px 6px 1px #bbb;
    height: 38px;
    border-radius: 4px;
}

.form-ecounce .radio-inline input[type=radio] {
    margin-left: 25px;
    position: relative;
    top: 17px;
    left: 5px;
}

.form-ecounce .radio-inline {
    font-size: 16px;
    font-weight: 600;
    margin-top: -4px;
    overflow: visible;
    clear: both;
    padding-left: 25px; 
}

.form-ecounce label.set-star {
    font-size: 50px;
    position: absolute;
    top: -17px;
    left: 0;
    color: #dc0606;
}

.form-ecounce span.text-set {
    font-size: 15px;
    font-weight: 600;
}

.form-ecounce h2 { 
    font-size: 18px;
    font-weight: bold;
    margin-left: 28px;
    margin-bottom: 20px;
}

.form-ecounce p {
    font-weight: 600;
    font-size: 16px;
    padding: 20px 15px 10px;
    color: #111;
}



.ecounciling-form {

}

.ecounciling-form label {
    font-size: 14px;    
}

.ecounciling-form label sup {
    font-size: 40px;
    top: 14px;
    color: #d81f1f;   
}

.ecounciling-form .panel-group .panel .panel-heading .panel-title a {
    font-weight: 600;
}

.ecounciling-form #applicationform textarea.form-control {  
    height: auto;
}

.ecounciling-form .sometxt label {    

}

.ecounciling-form .sometxt label.col-md-1 {    
    padding-right: 0px;
}

.ecounciling-form .sometxt label.col-md-11 {    
    padding-left: 0px;
}

.ecounciling-form .sometxt input[type="checkbox"] {    

}

.ecounciling-form .sometxt span { 
    
}



/* e-Counselling Form end css code */




.applyBtn {
    color: #000;
    font-size: 14px;
    padding-bottom: 10px;
}

.applyBtn span {
    
}

.getAdmission {
    color: #000;
    font-size: 14px;    
}

.availableCourses h5 {  
    color: #000;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;     
}

.eligibility p {
    font-size: 15px;
    color: #777;
    font-weight: 600;
    padding: 10px 0 7px;    
}

.block.collegeCoursesBox h2 {
    text-align: center;
}

#admissions .cont-box4.dts-scho p {        
    font-size: 15px;
    color: #000;
    padding-bottom: 10px;
}

#admissions .cont-box4.dts-scho p strong {        
    display: inline-block;
    padding-top: 20px;
}

#admissions .cont-box4.dts-scho table {
    width: 100% !important;
    border: none;
    box-shadow: none;
}

#admissions .cont-box4.dts-scho table tr td { 
    border: none;
    box-shadow: none;
}

#admissions .cont-box4.dts-scho ul {
    
}


#admissions .cont-box4.dts-scho ul li {
    font-size: 15px;
    color: #000;
    padding-bottom: 20px;
}

#admissions .cont-box-right {
    background-color: #fff;
    margin-top: 24px;
    border: solid 1px #ccc;
    box-shadow: 1px 4px 16px 4px #ccc;
    padding: 15px 25px 20px;
}

#admissions .cont-box-right button.btn {
    margin-top: 30px;
    margin-bottom: 10px;    
}

#admissions ul.dtc-list li {
    padding-bottom: 10px;
    border-bottom: solid 1px #999;
    padding-top: 10px;
}

#admissions ul.dtc-list li a {
    color: #000;
    font-size: 15px;
}

#admissions .dtc-aside-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#admissions .bodyContent {
    padding: 10px 40px 100px;
}

#scholarships .scholarship {
    border: solid 1px #ccc;
    box-shadow: 1px 4px 16px 4px #ccc;
    background: #fff;
    padding: 4px 40px 100px;   
}

#scholarships .cont-box5.dts-cols h2 {                  
    font-size: 20px;
    font-weight: 600;
}

#scholarships .cont-box5.dts-cols p {                  
    font-size: 15px;
    padding-top: 5px;
}

#scholarships .cont-box5.dts-cols ul li {
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 14px;
}

#scholarships .cont-box5.dts-cols ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

#scholarships .cont-box-right .dtc-aside-right.space-bottom {
    margin-top: 24px;
}

#scholarships ul.dtc-list li {
    padding-bottom: 6px;
    padding-top: 6px;
}

#scholarships ul.dtc-list li a {
    color: #000;
    font-size: 15px;   
}

.placements {

}

.placements .dts-scho .heading_degrees {
    border-bottom: solid 1px #ccc;
    margin: 0 0 20px;
    padding-bottom: 5px;    
}

.placements .heading_degrees h2 { 
    font-size: 20px;
    font-weight: 600;
    color: #111;
}

.placements .dtc-struct .dtc-struct-col {
    border-right: 1px dashed #ddd;
    text-align: center;
}

.placements .dtc-sp-icon {
    background-position: -164px -96px;
    width: 50px;
    height: 60px;
}

.placements .detail_sprite {
    background: url(../images/Job_Searchicon.png) no-repeat;  
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.placements .dtc-struct .dtc-count {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    color: #000;
    margin: 18px 0 12px;
}

.placements .dtc-pr-txt {
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #797979;
    font-weight: 600;
}

.placements .dtc-struct .col-md-3:last-child {
    border: 0;
}

.placements .dtc-vc-icon {
    background-position: -248px -98px;
    width: 50px;
    height: 60px;
}

.placements .detail_sprite1 {
    background: url(https://img.collegedekhocdn.com/static/images/detail-sprite.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.placements .cont-box4.dts-scho {
    background-color: #fff;
    padding: 0px 25px 30px;
    margin-bottom: 30px;
}

.placements .dtc-struct-col i {
    font-size: 75px;
}

.placements .about_placement_wrap { 
    margin: 0;
    padding: 25px 0;
    background: #3e7196;
    border-radius: 3px;
    margin-bottom: 30px;
}

.placements .img_about img { 
    width: 300px;
    margin: 0 auto;
}

.placements .placement_contect h3 {
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

.placements .placement_contect p {
    color: #fff;
    font-size: 16px;
    padding-top: 14px;
}

.placements .placement_procedure_wrap .cont-box4.dts-scho h2 {
    border-bottom: solid 1px #ccc;
    margin: 0 0 20px;
    padding-bottom: 15px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #111;      
}

.placements .placement_contect ul {
    list-style: none;
}

.placements .placement_contect ul li {
    font-size: 16px;
}

.pictures .thumbnail {
    margin-bottom: 6px;
} 

.pictures .carousel-control.left,.carousel-control.right {
  background-image: none;
  margin-top: 10%;
  width: 5%;
}



/* colleges-tabing start css code */






/* 20 March end code  */


.ecounciling-form input[type="submit"] {
 width: 10%;
 margin-top: 20px;
}










